<% include header %>

<script>
  function deleteVideo(id) {
    url = "http://localhost:3003' + <%- baseUrl %> + 'videos/delete/" + id;
    deleteRequest(url);
  }

  function deleteRequest(url) {
    $.ajax({
      url: url,
      type: 'DELETE',
      success: function(res) {
        console.log(res);
        alert(res);
        location.reload();
      },
      error: function(data){
        alert("fail " + data);

      }
    });
  }

</script>

<h1><%-title %></h1>
<a href="<%- baseUrl %>videos">Videos</a>
<a href="<%- baseUrl %>videos/upload">Upload video</a>


<table border="1">
  <tr>
    <td>Title</td>
    <td>Description</td>
    <td>Category</td>
    <td>Actions</td>
  </tr>
  <% videos.forEach(function (video) { %>
  <tr>
    <td><%- video.title %></td>
    <td><%- video.description %></td>
    <td><%- video.category %></td>
    <td>
      <button onclick="deleteVideo('<%- video._id %>')">Borrar</button>
      <a href="<%- baseUrl %>videos/edit?id=<%- video._id %>">Editar</a>
      <a href="/videos/me/share?id=<%- video._id %>">Share</a>
    </td>
  </tr>
  <% }); %>
</table>


<% include footer %>
