<% include header %>

  <h1><%-title %></h1>
  <a href="<%- baseUrl %>videos/me">My videos</a>
  <a href="<%- baseUrl %>videos/upload">Upload video</a>
  <a href="<%- baseUrl %>videos/shared/me">Shared with me</a>


  <form action="<%- baseUrl %>videos/search" method="get">
    <input type="text" name="query" placeholder="Search..."/>
    <input type="submit" value="Search" />
  </form>

  <table border="1">
    <tr>
      <td>Title</td>
      <td>Description</td>
      <td>Category</td>
      <td>Owner</td>
    </tr>
  <% videos.forEach(function (video) { %>
    <tr>
      <td><%- video.title %></td>
      <td><%- video.description %></td>
      <td><%- video.category %></td>
      <td><%- video.owner.username %></td>
    </tr>
  <% }); %>
  </table>


<% include footer %>
