<% include header %>

  <h1><%-title %></h1>
  <a href="<%- baseUrl %>my-videos">My videos</a>
  <a href="<%- baseUrl %>upload-video">Upload video</a>


  <form action="<%- baseUrl %>search" method="get">
    <input type="text" name="query" placeholder="Search..."/>
    <input type="submit" value="Search" />
  </form>

  <table border="1">
    <tr>
      <td>Titulo</td>
      <td>Descripción</td>
      <td>Categoria</td>
    </tr>
  <% videos.forEach(function (video) { %>
    <tr>
      <td><%- video.title %></td>
      <td><%- video.description %></td>
      <td><%- video.category %></td>
    </tr>
  <% }); %>
  </table>


<% include footer %>
